/*! Custom style for some important classes */

a {
    word-wrap: break-word;
}
body {
    background-color: #181818;
}
h1 {
    color: #adafb2;
}
h4 {
    display: block;
    max-width: 70%;
    margin-bottom: 5px;
    overflow: hidden;
}
p {
    color: #adafb2;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #adafb2;
    margin: 1em 0;
    padding: 0;
}

/*! Override the default bootstrap.css classes */

.container {
    margin-right: 20px;
    margin-left: 15px;
}
@media (min-width: 768px) {
    .container {
        width: auto;
    }
}
@media (min-width: 992px) {
    .container {
        width: auto;
    }
}
@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}
button:active {
    outline: none;
    border: none;
}
button:focus {
    outline: 0 !important;
}
.btn-default {
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-success {
    background-color: #1db954;
    border-color: #1db954;
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-success:hover {
    background-color: #1ed760;
    border-color: #1ed760;
}
.btn-success:focus {
    background-color: #1ed760;
    border-color: #1ed760;
}
.btn-danger {
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
}