@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?mufpa9');
    src:    url('../fonts/icomoon.eot?mufpa9#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?mufpa9') format('truetype'),
        url('../fonts/icomoon.woff?mufpa9') format('woff'),
        url('../fonts/icomoon.svg?mufpa9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-discogs-icon:before {
    content: "\e900";
}
.icon-notification:before {
    content: "\e901";
}
.icon-cancel-circle:before {
    content: "\e902";
}
.icon-blocked:before {
    content: "\e903";
}
.icon-checkmark:before {
    content: "\e904";
}
.icon-exit:before {
    content: "\e905";
}
.icon-mail4:before {
    content: "\e909";
}
.icon-facebook2:before {
    content: "\e906";
}
.icon-spotify:before {
    content: "\e907";
}
.icon-github:before {
    content: "\e908";
}

